# Preliminary trial on titanic competition (almost tutorial)

In [33]:
# Import general libraries here.
import os
import glob

import pandas as pd
import numpy as np

In [34]:
# Directory names.
DATA_DIR = "D:\\Programming\\20220712_titanic\\kaggle-titanic\\data\\titanic"
SRC_DIR = "D:\\Programming\\20220712_titanic\\kaggle-titanic\\src"
RESULT_DIR = "D:\\Programming\\20220712_titanic\\kaggle-titanic\\result"

## Load titanic data

### train data

In [35]:
train_data = pd.read_csv(os.path.join(DATA_DIR, "train.csv"))
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### test data

In [36]:
test_data = pd.read_csv(os.path.join(DATA_DIR, "test.csv"))
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Explore a pattern

In [37]:
women = train_data.loc[train_data.Sex == "female"]["Survived"]
print(women)
rate_women = sum(women) / len(women)

print(f"% of women who survived: {rate_women}")

1      1
2      1
3      1
8      1
9      1
      ..
880    1
882    0
885    0
887    1
888    0
Name: Survived, Length: 314, dtype: int64
% of women who survived: 0.7420382165605095

In [38]:
men = train_data.loc[train_data.Sex == "male"]["Survived"]
print(men)
rate_men = sum(men) / len(men)

print(f"% of men who survived: {rate_men}")

0      0
4      0
5      0
6      0
7      0
      ..
883    0
884    0
886    0
889    1
890    0
Name: Survived, Length: 577, dtype: int64
% of men who survived: 0.18890814558058924

## Random forest classification

In [39]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
print(X)
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({
    "PassengerId": test_data.PassengerId,
    "Survived": predictions
})
output_file = os.path.join(RESULT_DIR, "submission.csv")
output.to_csv(output_file, index=False)
print(f"Saved submission csv file as: {output_file}")

     Pclass  SibSp  Parch  Sex_female  Sex_male
0         3      1      0           0         1
1         1      1      0           1         0
2         3      0      0           1         0
3         1      1      0           1         0
4         3      0      0           0         1
..      ...    ...    ...         ...       ...
886       2      0      0           0         1
887       1      0      0           1         0
888       3      1      2           1         0
889       1      0      0           0         1
890       3      0      0           0         1

[891 rows x 5 columns]
Saved submission csv file as: D:\Programming\20220712_titanic\kaggle-titanic\result\submission.csv